footer
	.container
		ul
			li Informaci贸n para Clientes  
			li Aviso de Privacidad  
			li Personas con discapacidad  
			li Bolsa de Trabajo  
			li Dialogando  
			li Buz贸n quejas cobranza  
			li Mapa de sitio  
			li Contrastes  
			li Contrato de Adhesi贸n M贸vil