header
	nav#menu-header
		.container
			ul
				li
					a(href="#") Particulares
				li
					a(href="#") Negocios
				li 
					a(href="#") Empresas
			ul
				li
					a(href="#") Mi Movistar
				li 
					a(href="#") Recarga
	.container
		h1
			a(href="http://www.movistar.com.mx") Movistar
		ul#menu-principal
			li
				a(href="#") Productos y Servicios
				ul
					li
						a(href="#") Planes
					li
						a(href="#") Prepago
					li
						a(href="#") Cámbiate a Movistar
					li
						a(href="#") Internet para Casa
					li
						a(href="#") Movistar On
					li
						a(href="#") Roaming Internacional
					li
						a(href="#") Servicios para celulares
					li
						a(href="#") Servicios para telefonía fija
			li
				a(href="#") Tienda
				ul
					li
						a(href="#") Smartphones
					li
						a(href="#") Promociones en línea
			li
				a(href="#") Atención a Clientes
				ul
					li
						a(href="#") Centros de atención al cliente
					li
						a(href="#") Reporte de Robo o Extravío
					li
						a(href="#") Cobertura

		input(type="search" placeholder="Buscar...")

