#menu-rapido.container
	a(href="#") Comprar <br> un celular
	a(href="#") Cámbiate <br> a Movistar
	a(href="#") Ver <br> planes
	a(href="#") Promociones
	a(href="#") Recargar <br>en línea
	a(href="#") Consultar <br>mi saldo
	a(href="#") Pagar <br>mi factura
	a(href="#") Configurar mis números gratis
	a(href="#") Chat <br>de ayuda
#slider
	div
		a(href="#" style="background-image: url(assets/slider/slide1.jpg)") 
	div
		a(href="#" style="background-image: url(assets/slider/slide2.jpg)") 
	div
		a(href="#" style="background-image: url(assets/slider/slide3.jpg)") 
	div
		a(href="#" style="background-image: url(assets/slider/slide4.jpg)") 
	div
		a(href="#" style="background-image: url(assets/slider/slide5.jpg)") 

#sub
	.container
		aside
			#promoMes(href="#")
				.text1 Regálate un Smartwatch
				.text2 Llévatelo al contratar un Plan movistar con equipo desde $369/mes
				a.btn(href="#") Conoce más
				.smartwatch
				.text3
					span Ademas
					div
						i.fa.fa-instagram 
						i.fa.fa-snapchat-ghost 
						i.fa.fa-adn
					div
						i.fa.fa-facebook 
						i.fa.fa-twitter
						i.fa.fa-whatsapp
					span Ilimitados

		aside
			.panel
				h3 Tienda
				#slider-tienda
					div.slide
						.phone-image
							img(src="assets/phones/phone1.png", alt="")
						.phone-detail
							span Motorola Moto X4 LTE color Azul
							span Prepago:
							span $7,999
							a.btn-comprar(href="#") Comprar
					div.slide
						.phone-image
							img(src="assets/phones/phone2.png", alt="")
						.phone-detail
							span Motorola Moto X4 LTE color Azul
							span Prepago:
							span $7,999
							a.btn-comprar(href="#") Comprar
					div.slide
						.phone-image
							img(src="assets/phones/phone3.png", alt="")
						.phone-detail
							span Motorola Moto X4 LTE color Azul
							span Prepago:
							span $7,999
							a.btn-comprar(href="#") Comprar
					div.slide
						.phone-image
							img(src="assets/phones/phone4.png", alt="")
						.phone-detail
							span Motorola Moto X4 LTE color Azul
							span Prepago:
							span $7,999
							a.btn-comprar(href="#") Comprar
					div.slide
						.phone-image
							img(src="assets/phones/phone5.png", alt="")
						.phone-detail
							span Motorola Moto X4 LTE color Azul
							span Prepago:
							span $7,999
							a.btn-comprar(href="#") Comprar
					div.slide
						.phone-image
							img(src="assets/phones/phone6.png", alt="")
						.phone-detail
							span Motorola Moto X4 LTE color Azul
							span Prepago:
							span $7,999
							a.btn-comprar(href="#") Comprar
			.row
				.col
					h5 Cambiarte a Movistar en línea, es muy fácil
					p Recarga de manera instantánea, fácil y segura.
					a.btn(href="#") Conoce más
				.col
					h5 La tecnología que <br> te da el control
					p Elige tus Paquetes, controla lo que usas y recibe regalos cada semana.
					a.btn(href="#") Conoce más

			.row-participa
				h4 Tu opinión sí cuenta, apreciamos tu ayuda respondiendo esta breve encuesta.
				a.btn-participa(href="#") Participar

#mapmenu
	.container
		.col 
			h5 Cambiate a Movistar
			p Conserva tu número y disfruta de todos los beneficios de ser Movistar.
			a.btn(href="#") Ver más
		.col
			h5 Tiendas Movistar
			p Encuentra tu Tienda más cercana y recibe la atención que mereces.
			a.btn(href="#") Ver más
		.col
			h5 Recargas
			p Recarga de manera instantánea, fácil <br> y segura.
			a.btn(href="#") Recargar
		.col
			h5 Movistar Negocios
			p Conoce los servicios que tenemos para impulsar tu negocio.
			a.btn(href="#") Ver más
